<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="/"><span style="color:red">Ya</span>tube</a>
    <nav class="my-2 my-md-0 mr-md-3">
        {% if user.is_authenticated %}
        <a class="p-2 text-dark" href="{% url 'new_post' %}" >Новая запись</a>
        Пользователь: {{ user.username }}.
        <a class="p-2 text-dark" href="{% url 'password_change' %}">Изменить пароль</a>
        {% comment %} <a class="p-2 text-dark" id="postLink" href="{% url 'logout' %}">Выйти</a> {% endcomment %}
        <form action={% url 'logout' %} method="post">
            {% csrf_token %}
            <input type="hidden" name="param1" value="value1">
            <input type="hidden" name="param2" value="value2">
            <!-- Другие параметры, если необходимо -->
            <button type="submit">Выйти</button>
        </form>
        {% else %}
        <a class="p-2 text-dark" href="{% url 'login' %}">Войти</a> |
        <a class="p-2 text-dark" href="{% url 'signup' %}">Регистрация</a>
        {% endif %}
    </nav>
</nav>

<script>
    $('#postLink').on('click', function(e) {
        e.preventDefault();
        var url = $(this).attr('href');
        $.post(url, { param1: 'value1', param2: 'value2' }, function(response) {
            // Обработка ответа
        });
    });
    </script>
    